

html,body{
  padding:  0 0 0;
  margin: 0;
}
.galleryContainer{
  width: 80%;
  height: 700px;
  
  margin:1rem auto;
  user-select: none;
  box-shadow: 0px 0px 3px 1px #00000078;
  padding: 10px;
  box-sizing: border-box;
}
.imageHolder img{
  width: 90%;
  
}
.galleryContainer .slideShowContainer{
  width: 100%;
  height: 90%;
  overflow: hidden;
  background-color: gainsboro;
  position: relative;
}
.galleryContainer .slideShowContainer #playPause{
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(images/playPause.png);
  background-repeat: no-repeat;
  z-index: 5;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
  opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
  width: 100%;
  height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
  display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
  width: 50px;
  background: #00000036;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
  left: auto;
  right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
  background: #000000a8;
  cursor: pointer;
}
.galleryContainer .arrow{
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
  transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
  transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background: #00000047;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
  margin: 0;
}

.galleryContainer #dotsContainer{
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  background-color: #bbb;
  cursor: pointer;
  transition:background-color 0.5s;
}
.galleryContainer #dotsContainer .dots:first-child{
  margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
  background-color: #717171;;
}




.galleryContainer .moveLeftCurrentSlide{
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
  from {margin-left: 0;opacity: 1;}
  to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
  from {margin-left: 100%;opacity: 1;}
  to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
  animation-name: moveRightPrev;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
  from {margin-left: 0;opacity: 1;}
  to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
  from {margin-left: -100%;opacity: 1;}
  to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
  animation-name: slideTextFromBottom;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
  from {opacity: 0;margin-top: 100px}
  to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
  animation-name: slideTextFromTop;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
  from {opacity: 0;margin-top: -100px}
  to {opacity: 1;margin-top: 0px;}
}
.container {
  margin: 0 2rem;
  width: 95%;
}

.logo{
  display: flex;
  align-items: center;
  
}
.navigation {
  width: 100%;
  position: sticky;
  height: 90px;
  padding: .5rem 0;
  background-image: linear-gradient(-90deg, #fff, #eee);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  -webkittransition: all .8s; /* Safari prior 6.1 */
  transition: all .8s;
  
}
.logo {
  color: #888;
  width: 20%;
  float: left;
  line-height: 40px;
}
.navigation-links {
  text-align: right;
  padding: 0;
}
.navigation-links li {
  color: #888;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all .8s; /* Safari prior 6.1 */
  transition: all .8s;
}

.navigation-links li.active {
  background-color: rgba(	83, 173, 203, .3);
}

.navigation-links li:hover {
  background-color: rgba(	83, 173, 203, 1);
  color: #fff;
  cursor: pointer;
}
.icon {
  display: none;
  padding: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0 0;
    max-width: 600px;
  }
  .galleryContainer{
    width: 85%;
    height: 400px;
  }
  .logo {
    width: 100%;
    align-items: center;
    margin: 0 -1rem 1rem ;
    
  }
  
  .navigation-links li {display: none;}
  .navigation-links a.icon {
    float: right;
    display: block;
    position: absolute;

    right: 20px;
    top: 30px;
  }
  .navigation.responsive .navigation-links a.icon {
    background-color: rgba(	83, 173, 203, 1);
    color: #fff;
    cursor: pointer;
    
  }
  
  .navigation.responsive {
    position: relative;
    height: 300px;
  }
  .navigation.responsive .navigation-links li {
    float: none;
    display: block;
    text-align: left;
      -webkit-transition: all .8s; /* Safari prior 6.1 */
  transition: all .8s;
  }


}


.about{
  display: flex;
  margin: 0 4rem;
  padding: 1rem;
  width: 80%;
flex: 1;
}

.about-info h1{
text-align: center;
  align-items: center;
}
#timer{
  display: flex;
  width: 95%;
  gap:1rem;

  justify-content: center;
  align-items: center;
  
}
.team-content a{
  text-decoration: none;
}
 .timer-comp{
  width: 21%;
  height: 4rem;
  border-radius:5px ;
text-align: center;
color: #fff;
font-size: 1rem;
padding: 1rem 0;
font-size: large;
font-weight:500;
font-style: roboto;
list-style: none;
background: rgb(0, 0, 0);
} 
.Hero{
  margin: 1rem 0;
}
.video{
  display: flex;
  justify-content: space-around;
  width: 85%;
  gap: 2rem;
  box-shadow: #bbb 5px;
  margin: auto;
}
.video video{
width: 43%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:10px ;
}
.navigation-links a{
  text-decoration: none;
}
@media (max-width:1000px) {
  .video{
    flex-direction: column;
    width: 85%;


  }
  .video video{
    width: 100%;
  }
  .about{
    flex-direction: column;
    margin: 0 auto;
  }
  #timer{
    justify-content: space-between;
    

  }
  .timer-comp{
    height: auto;
    font-size: .8rem;
   
    margin:auto;
  }
  
}

.our-team {
  padding: 30px 0 40px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}


.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
.profile-cards{
  margin: 3rem 2rem;
}

footer{
  background-color: #000000;
  color: #fff;
  padding: 2rem 1rem 1rem;
  
}
.copyright{
  text-align: center;

  margin-bottom: -2rem;
}
.footer-div{
width: 90%;
display: flex;
gap: 1.5rem;
margin: auto;
}

 .sit-location{
  width:30rem;
  height: 18rem;
}
.co-ordinators{
  display: flex;
  gap:.5rem;
  font-size: 1rem;
  justify-content: space-between;
}
.contactus{
  display: flex;
  flex-direction:column;
  font-size: 2.3rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
@media(max-width:1100px){
  .footer-div{
    flex-direction:column;
    width: 100%;
  }
  .about-clg{
    display: none;
    
  }
.contactus{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contactus a{
  text-decoration: none;
}

 .sit-location{
  width: 95%;
 }
}
/* ADVERTISERS SERVICE CARD */
body {
  font-family: "Roboto", sans-serif !important;
}




.advertisers-service-sec {
  background-color: #fff;
}

.advertisers-service-sec span {
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .col {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.advertisers-service-sec .service-card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
}

.advertisers-service-sec .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg,#eaee7e, rgb(236, 34, 34));
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  z-index: 3;
}

.advertisers-service-sec p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  z-index: 3;
}

.advertisers-service-sec .icon-wrapper {
  background-color: #2c7bfe;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
  top: 0%;
}

.service-card .icon-wrapper {
  background-color: #ffffff;
  color: rgb(255, 23, 131);
}

.advertisers-service-sec .service-card:hover .icon-wrapper {
  color: #0dcaf0;
}

.advertisers-service-sec .service-card:hover h3 {
  color: #ffffff;
}

.advertisers-service-sec .service-card:hover a {
  color: #f0f0f0;
}
/* ADVERTISERS SERVICE CARD ENDED */
.event-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-links li{
  list-style: none;
  

  margin-left:-1rem ;
  
  
}
.event-links li a{
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

